* {
   -fx-color-50: #E8EAF6;
   -fx-color-500: #3F51B5;
}

/* APPBAR */

.appbar {
    -fx-pref-height: 56;
    -fx-min-height: 56;
    -fx-max-height: 56;
    -fx-background-color: black;
    -fx-padding: 0 16 0 16;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-border: groove 1em red;
    -fx-border-radius: 2em;
}

.appbar .navigation_bar {
    -fx-padding:  0 16 0 0;
}

.appbar .title {
    -fx-text-fill: #FFF;
    -fx-font-size: 20;
}

.appbar .icons-bar {
    -fx-spacing: 16;
}

/* NAVIGATION DRAWER MENU */

.navigation-drawer {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/*.container-select-item{*/
/*    -fx-background-color: #181821;*/
/*}*/
/*.container-select-item .label{*/
/*    -fx-text-fill:#FFF;*/
/*    -fx-font-size: 14;*/
/*    -fx-opacity: 0.87;*/
/*    -fx-pref-height: 48;*/
/*    -fx-padding: 0 16 0 16;*/
/*}*/



.navigation-drawer .image-view {
    -fx-pref-height: 48;
    -fx-opacity: 0.54;
    -fx-translate-x: 16;
    -fx-translate-y: 12;
}

.navigation-drawer .label {
    -fx-font-size: 14;
    -fx-opacity: 0.87;
    -fx-pref-height: 48;
    -fx-padding:  0 16 0 56;
    -fx-text-fill:#AAA;
}

.navigation-drawer .label-error {
       -fx-font-size: 14;
    -fx-opacity: 0.87;
    -fx-pref-height: 0;
    -fx-padding:  0 0 0 0;
    -fx-text-fill:red;
}

.navigation-drawer .label-menuAdmin {
    -fx-font-size: 14;
    -fx-opacity: 0.87;
    -fx-pref-height: 0;
    -fx-padding:  0 0 0 0;
    -fx-text-fill:#AAA;
}


.navigation-drawer .label:hover {
    -fx-text-fill:#FFF;
    -fx-font-weight: bold;
}

.navigation-drawer .item-selectable:hover {
    -fx-background-color: #105b84;
}
/*105b84*/

/* TOOLBAR MENU */

.menu-tools {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.menu-tools .label {
    -fx-text-fill:#AAAA;
    -fx-font-size: 14;
    -fx-opacity: 0.87;
    -fx-pref-height: 48;
    -fx-padding: 0 16 0 16;
}
.menu-tools .label:hover {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}
.menu-tools .item-selectable:hover {
    -fx-background-color:#7b7b7b ;
}

/* CONTROLS */
.label {
    -fx-font-size: 13;
    -fx-padding: 0 8 0 0;
}

.text-field {
    -fx-font-size: 13;
    -fx-padding: 4 4 4 4;    
}
